# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Optional_TH_StackSDMang\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Optional_TH_StackSDMang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
